<footer class="bg-dark p-t-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="http://www.neh.gov" target="_blank"><img src="/images/logos/national-endowment-of-the-humanities-hres.png" alt="National Endowment of the Humanities - logo" class="img-fluid" /></a>
      </div>
      <div class="col-xs-1">
        &nbsp;
      </div>
      <div class="col-xs-4">
        <a href="https://gcdi.commons.gc.cuny.edu" target="_blank"><img src="/images/logos/gcdi-white.png" alt="CUNY - logo" class="float-left h-25" style="width:100%; height:auto;" /></a>
      </div>
      <div class="col-xs-1">
        <a href="http://www.gc.cuny.edu" target="_blank"><img src="/images/logos/gc-white-hres.png" alt="The Graduate Center CUNY - logo" class="img-fluid float-left h-50" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 p-t-1">
        <small><p style="font-family:'Open Sans', Helvetica; font-weight:300;">GC Digital Humanities Research Institutes are funded through a generous grant from the National Endowment of the Humanities.</p></small>
      </div>
      <div class="col-xs-4">
        &nbsp;
      </div>
      <div class="col-xs-2">
        <a href="http://www.cuny.edu" target="_blank"><img src="/images/logos/cuny-white-hres.png" alt="CUNY - logo" class="img-fluid" /></a>
      </div>
    </div>

<!--
    <div class="row align-items-end">
      <div class="col-xs-6 align-self-end">
        <img src="/images/logos/cuny-white-hres.png" alt="CUNY - logo" class="img-fluid" />
      </div>
      <div class="col-xs-4">
        &nbsp;
      </div>
      <div class="col-xs-2 align-self-end">
        <img src="/images/logos/gc-white-hres.png" alt="The Graduate Center CUNY - logo" class="img-fluid" />
      </div>
    </div>
-->
<!--
    <div class="row">
      <div class="text-xs-center text-md-left col-md-6 col-xs-12">
        <h3>About Us</h3>
        <p>GC Digital Initiatives builds and sustains an active community around the shared idea of a "Digital GC," where scholars and technologists explore new modes of inquiry that thoughtfully integrate digital tools and methods into the research, teaching, and service missions of the institution. Learn more on our <a href="https://gcdi.commons.gc.cuny.edu/about/">website</a>.</p>
      </div>

      <div class="text-xs-center text-md-right col-md-6 col-xs-12">
        <h3>GC Digital Initiatives</h3>
        <p>Digital Scholarship Lab, Room 7414<br />
        The Graduate Center, CUNY<br />
        365 Fifth Avenue<br />
        New York, NY 10016<br />
        <a href="https://cuny.is/gcdi">https://cuny.is/gcdi</a><br />
        <a class="no-animate" href="https://twitter.com/cunydhi">@CUNYDHI</a>
        <a class="no-animate" href="https://twitter.com/{{site.author.twitter}}">@Digital_Fellows</a>
      </div>
    </div>
-->
    <div class="row text-xs-center">
      <p>
        <a class="no-animate" href="http://cuny.is/gcdi"><i class="fa fa-globe fa-2x"></i></a>
        <a class="no-animate" href="https://twitter.com/cunygcdi"><i class="fa fa-twitter fa-2x"></i></a>
        <a class="no-animate" href="{{site.author.github}}"><i class="fa fa-github fa-2x"></i></a>
      </p>
    </div>
  </div>
</footer>
